/* RESET START */
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0;
    color: #fffefe;
    font: 18px/1 'Century Gothic Regular', sans-serif;
    background-color: #f6f5f5;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
a:focus, a:hover {
    color: #a3a2a2;
    text-decoration: none;
}
img {
    max-width: 100%;
}
input, textarea, button {
    outline: none;
    border: none;
}
textarea {
    resize: vertical;
}
button {
    cursor: pointer;
}
/* RESET END */

/* ===== DEFAULT CLASSES START ===== */
.flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.justify-sp-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.blue-bg {
    background-color: #0040c0;
}
.white-bg {
    background-color: #ffffff;
}
.grey-bg {
    background-color: #f6f5f5;
}
.dark-grey-bg {
    background-color: #e1e1e1;
}
.quote-text {
    font-family: 'Century Gothic Italic', sans-serif;
    font-size: 50px;
    line-height: 1.3em;
    color: #fffefe;
}
.title {
    color: #0040c0;
    font-size: 24px;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 80px;
    padding: 0;
    display: block;
    text-align: center;
}
.title:after {
    content: '';
    display: inline-block;
    margin: 0 0 8px 20px;
    width: 60px;
    height: 1px;
    text-shadow: none;
    background-color: #0040c0;
}
.title:before {
    content: '';
    display: inline-block;
    margin: 0 20px 8px 0;
    width: 60px;
    height: 1px;
    text-shadow: none;
    background-color: #0040c0;
}
.tag {
    color: #0040c0;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    margin-top: 20px;
}
.caption {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    display: block;
    margin-top: 25px;
    height: 2em;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.description {
    font-size: 18px;
    color: #555555;
    margin-top: 20px;
}
.date {
    font-family: 'Century Gothic Italic', sans-serif;
    font-size: 15px;
    color: #a7a6a6;
    display: block;
    margin-top: 30px;
}
.announcement-caption {
    font-family: 'Century Gothic Regular', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    padding: 10px 20px;
    color: #555555;
    background-color: #ffffff;
    -webkit-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
    height: 66px;
}
.btn {
    font-size: 18px;
    padding: 10px 40px;
    color: #010101;
    border: 1px solid #010101;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    margin-top: 40px;
}
.blue-btn {
    color: #ffffff;
    background-color: #0040c0;
    border: 1px solid #fff;
}

@media (max-width: 991px) {
    .title {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .title:before,
    .title:after {
        width: 30px;
    }
    .description {
        font-size: 16px;
    }
    .quote-text {
        font-size: 32px;
    }
}
@media (max-width: 767px) {
    .title {
        font-size: 15px;
    }
}

/* ===== DEFAULT CLASSES END ===== */

/* ===== HEADER START ===== */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 25px 30px;
    color: #fff;
    z-index: 999;
    border-bottom: 1px solid #fffefe;
}

.header-nav {
    color: #fffefe;
    margin: 0 auto;
}

.header-nav li {
    display: inline-block;
    line-height: 66px;
}

.header-nav li + li {
    margin-left: 25px;
}

.header-nav li a {
    font-size: 18px;
    color: #fffefe;
    line-height: 17px;
}
.header-nav li a:hover {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
/* Search Style */
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
        -ms-transform: translate(0px, -100%) scale(0, 0);
            transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    display: none;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
        -ms-transform: translate(0px, 0px) scale(1, 1);
            transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    z-index: 106;
    display: block;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -51px;
    width: 60%;
    margin-left: 20%;
    color: rgb(255, 255, 255);
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, .8);
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    outline: none;
    padding: 10px;
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    opacity: 1;
    font-size: 27px;
    color: #fff;
}

#search .close:hover{
    color: #FC2121;
    cursor: pointer;
}

.additional-nav {
    line-height: 66px;
}
.additional-nav .fa-search {
    margin-right: 22px;
}
.additional-nav ul li + li:before {
    content: '|';
    padding: 0 10px;
}

@media (max-width: 991px) {
    .header {
        padding: 15px 10px;
    }
    .header-nav li + li {
        margin-left: 10px;
    }
}
@media (max-width: 767px) {
    .logo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 150px;
    }
    .header {
        position: relative;
        background-color: #000;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .header-nav {
        display: none;
    }
    .additional-nav {
        margin: auto;
    }
    .slicknav_menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: auto;
    }
}
@media (max-width: 473px) {
    .header .flex-container {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .additional-nav {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .additional-nav .fa-search {
        display: none;
    }

}
/* ===== HEADER END ===== */

/* ===== INNER START ===== */
.inner {
    background-image: url(../img/top-bg.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    height: 100vh;
    padding-top: 71px;
    text-align: center;
    position: relative;
}

.inner::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -4px;
}
.inner-content {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}
@media (max-width: 473px) {
    .inner {
        height: auto;
        padding: 30% 3%;
    }
}

/* ===== INNER END ===== */

/* ===== MAIN BLOG START ===== */
/* Blog */
.news {
    padding: 120px 85px;
    margin: 0 -15px;
}
.news img {
    width: 100%;
}
.main-article-about {
    padding-right: 30px;
}
.secondary-articles {
    margin: 60px -15px 0;
    overflow: hidden;
}
@media (max-width: 767px) {
    .secondary-articles-item + .secondary-articles-item {
        margin-top: 30px;
    }
}
/* Main Aside */

.lessons {
    padding: 120px 70px;
    margin: 0 -15px;
}
.lessons-items {
    max-width: 300px;
    margin: 0 auto;
}
.lesson-item + .lesson-item {
    margin-top: 61px;
}
.lesson-item-img {
    position: relative;
}
.lesson-item-img .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    font-size: 42px;
    display: block;
    width: 115px;
    height: 115px;
    line-height: 115px;
    text-align: center;
    margin-top: -58px;
    margin-left: -58px;
    color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: rgba(0,0,0,0.8);
    border: 1px solid #fff;
    z-index: 2;
    display: none;
}
.lesson-item:hover .play-icon {
    display: block;
    -webkit-transition: all 10s;
    -o-transition: all 10s;
    transition: all 10s;
}
.lesson-item-img .play-icon:before {
    position: absolute;
    left: 40%;
}
.lesson-item-img .play-icon:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: 0;
}
.lesson-item img {
    -webkit-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
    width: 100%;
}
.definition {
    padding: 10px 10px 20px;
    background-color: #fff;
    -webkit-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
}
.definition .tag {
    margin-top: 0;
    margin-bottom: 7px;
}
.definition .description {
    font-weight: bold;
    margin-top: 7px;
}
.lessons .btn {
    margin-top: 50px;
}
.main-aside .subscription {
    padding: 138px 70px 121px;
    margin: 0 -15px;
}
.main-aside .subscription span {
    color: #ffffff;
    font-size: 20px;
    line-height: 17px;
}
.main-aside .subscription input[name="userEmail"] {
    background-color: inherit;
    border-bottom: 1px solid #fff;
    line-height: 55px;
    color: #ffffff;
    width: 100%;
}

@media (max-width: 991px) {
    .news,
    .main-aside .subscription,
    .lessons {
        padding: 40px 30px;
    }
}
@media (max-width: 767px) {
    .lessons-items {
        max-width: 400px;
    }
}


/* ===== MAIN BLOG END ===== */

/* ===== ANNOUNCEMENTS START ===== */
.announcements {
    padding: 120px 0;
}
.announcements img {
    position: relative;
    z-index: 1;
}
.announcements-items {
    padding: 0 0 40px;
}

@media (max-width: 991px) {
    .announcements {
        padding: 40px 0 0;
    }
    .announcements .carousel-control-items {
        margin-top: 30px;
    }
}
@media (max-width: 767px) {
    .carousel-inner {
        width: 80%;
        margin: 0 auto;
    }
    .announcements img {
        width: 100%;
    }
    .caption {
        margin-top: 10px;
        height: 1em;
    }
    .description {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}
/* ===== ANNOUNCEMENTS END ===== */

/* ===== LITERATURE START ===== */
/* QUOTE */
.quote {
    padding: 80px 115px 115px;
    margin: 0 -15px;
}
.quote .title {
    color: #ffffff;
}
.quote .title:before,
.quote .title:after {
    background-color: #ffffff;
}
.quote .quote-text {
    font-size: 34px;
    margin: 120px 0 60px;
}
@media (max-width: 991px) {
    .quote {
        padding: 60px 30px;
    }
    .quote .quote-text {
        font-size: 34px;
        margin: 60px 0;
    }
}
/* LITERATURE ITEMS */
.literature .container-fluid {
    padding-left: 0;
}
.literature-items {
    padding: 80px 0 40px;
    margin: 0 -15px;
}
.literature-items .title {
    margin-bottom: 40px;
}
.literature-items img {
    margin: 0 auto;
}
.literature-items .carousel-inner > .item > img {
    max-width: 310px;
}
.carousel-control-items {
    color: #000000;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
}
.carousel-control-items span.fa:hover {
    color: #0040c0;
}
.carousel-indicators {
    position: inherit;
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.circle-indicators {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 40px;
}
.circle-indicators-item {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #a1a1a1;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer;
}
.circle-indicators-item.active {
    width: 8px;
    height: 8px;
    background-color: #0040c0;
}
.circle-indicators-item + .circle-indicators-item {
    margin-left: 12px;
}
@media (max-width: 991px) {
    .literature-items {
        padding: 60px 0;
    }
    .literature-items .carousel-inner > .item > img {
        max-width: 225px;
    }
    .carousel-control-items {
        margin-top: 10px;
    }
}
/* ===== LITERATURE END ===== */

/* ===== SUBSCRIPTION START ===== */
.subscription {
    padding: 110px 0 80px;
}
.subscription span {
    color: #000;
}
.subscription input[name="userEmail"] {
    width: 395px;
    border-bottom: 1px solid #000;
    line-height: 47px;
    color: #000000;
    text-align: center;
}


@media (max-width: 991px) {
    .subscription {
        padding: 60px 0 40px;
    }
}
@media (max-width: 767px) {
    .subscription input[name="userEmail"] {
        width: 100%;
    }

}
/* ===== SUBSCRIPTION END ===== */

/* ===== FOOTER START ===== */
footer {
    background-color: #02163f;
    padding: 120px 0;
}
.cotancts {
    margin-top: 75px;
}
footer span {
    display: block;
}
footer span + span {
    margin-top: 25px;
}
.social {
    text-transform: uppercase;
    margin-top: 75px;
}
.social-links {
    margin-top: 30px;
    font-size: 27px;
}
ul.social-links li {
    display: inline-block;
}
ul.social-links li + li {
    margin-left: 22px;
}
@media (max-width: 991px) {
    footer {
        padding: 60px 0;
    }
}
/* ===== FOOTER END ===== */



